<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>identifier</key>
			<string>tshirt</string>
			<key>displayName</key>
			<string>T-shirt</string>
			<key>isShortSleeved</key>
			<true/>
			<key>isLongSleeved</key>
			<false/>
			<key>isButtoned</key>
			<false/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>longsleevedshirt</string>
			<key>displayName</key>
			<string>Long-sleeved shirt</string>
			<key>isShortSleeved</key>
			<false/>
			<key>isLongSleeved</key>
			<true/>
			<key>isButtoned</key>
			<false/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>athletictshirt</string>
			<key>displayName</key>
			<string>Athletic T-shirt</string>
			<key>isShortSleeved</key>
			<true/>
			<key>isLongSleeved</key>
			<false/>
			<key>isButtoned</key>
			<false/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<true/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>tanktop</string>
			<key>displayName</key>
			<string>Tank top</string>
			<key>isShortSleeved</key>
			<true/>
			<key>isLongSleeved</key>
			<false/>
			<key>isButtoned</key>
			<false/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<true/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>poloshirt</string>
			<key>displayName</key>
			<string>Polo</string>
			<key>isShortSleeved</key>
			<true/>
			<key>isLongSleeved</key>
			<false/>
			<key>isButtoned</key>
			<true/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>shortsleevedbuttondown</string>
			<key>displayName</key>
			<string>Short-sleeved button-down </string>
			<key>isShortSleeved</key>
			<true/>
			<key>isLongSleeved</key>
			<false/>
			<key>isButtoned</key>
			<true/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>buttondown</string>
			<key>displayName</key>
			<string>Button-down</string>
			<key>isShortSleeved</key>
			<false/>
			<key>isLongSleeved</key>
			<true/>
			<key>isButtoned</key>
			<true/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<true/>
			<key>isCasual</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>dressshirt</string>
			<key>displayName</key>
			<string>Dress shirt</string>
			<key>isShortSleeved</key>
			<false/>
			<key>isLongSleeved</key>
			<true/>
			<key>isButtoned</key>
			<true/>
			<key>isZippered</key>
			<false/>
			<key>isOuterWear</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
			<key>isFormal</key>
			<true/>
			<key>isCasual</key>
			<false/>
		</dict>
	</array>
	<array>
		<dict>
			<key>identifier</key>
			<string>shorts</string>
			<key>displayName</key>
			<string>Shorts</string>
			<key>isShorts</key>
			<true/>
			<key>isPants</key>
			<false/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>athleticshorts</string>
			<key>displayName</key>
			<string>Athletic shorts</string>
			<key>isShorts</key>
			<true/>
			<key>isPants</key>
			<false/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>pants</string>
			<key>displayName</key>
			<string>Pants</string>
			<key>isShorts</key>
			<false/>
			<key>isPants</key>
			<true/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>sweatpants</string>
			<key>displayName</key>
			<string>Sweatpants</string>
			<key>isShorts</key>
			<false/>
			<key>isPants</key>
			<true/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<true/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>jeans</string>
			<key>displayName</key>
			<string>Jeans</string>
			<key>isShorts</key>
			<false/>
			<key>isPants</key>
			<true/>
			<key>isJeans</key>
			<true/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>dresskhakis</string>
			<key>displayName</key>
			<string>Dress khakis</string>
			<key>isShorts</key>
			<false/>
			<key>isPants</key>
			<true/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<true/>
			<key>isSportsWear</key>
			<false/>
		</dict>
		<dict>
			<key>identifier</key>
			<string>chinopants</string>
			<key>displayName</key>
			<string>Chino pants</string>
			<key>isShorts</key>
			<false/>
			<key>isPants</key>
			<true/>
			<key>isJeans</key>
			<false/>
			<key>isFormal</key>
			<false/>
			<key>isSportsWear</key>
			<false/>
		</dict>
	</array>
	<dict/>
	<dict/>
</array>
</plist>
